* {
    margin: auto;
    padding: auto;
    justify-content: center;
}

body {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.block {
    display: flex;
}

#analog_clock_frame {
    position: relative;
    background-color: lightgray;
    width: min(45vmax, 90vmin);
    height: min(45vmax, 90vmin);
    border-radius: 50%;
    border: 1em;
}

#analog_clock_hour {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 49%;
    left: 50%;
    background-color: lightgreen;
    width: 50%;
    height: 2%;
    transform-origin: left center;
    border-radius: 50vmin;
}

#analog_clock_min {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 49%;
    left: 50%;
    background-color: lightseagreen;
    width: 46%;
    height: 2%;
    transform-origin: left center;
    border-radius: 50vmin;
}

#digital_clock {
    font-size: 3em;
}

#resin_scroll {
    width: 10em;
    height: 10.8em;
    line-height: 1.2;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-margin-top: 0px;
}

.resin_number {
    margin: 0px;
    padding: 0px;
    font-size: 3em;
    text-align: center;
    color: lightgray;
    scroll-snap-align: start;
}